{% include './main.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>My Liked People</h2>
      <br />
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <table class="table table-striped" style="margin: 50px 50px">
      <thead class="thead-info">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Known For</th>
        </tr>
      </thead>
      <tbody>
        {% for row in people %}
        <tr>
          <td>
            <a href="{% url 'people:view' row.movie_db_id %}">{{ row.name }}</a>
          </td>
          <td>{{ row.known_for }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-left: 50px">
      {% block content %}
      <!---->
      {% include "./pagination.html" with page=people %}
      <!---->
      {% endblock %}
    </div>
  </div>
  <div class="row"></div>
</div>
