{% include './main.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>{{ person.name }}</h2>
      <br />
      <button
        type="button"
        class="btn btn-success"
        style="margin-bottom: 10px; margin-top: 10px"
      >
        <a href="{% url 'people:like' person.id %}" style="color: white"
          >Like</a
        >
      </button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="card body-card shadow">
      <div id="text">
        <div class="row">
          <div class="col">
            <h5>Known for</h5>
            {{ person.known_for_department}}
            <hr />
            {% if person.place_of_birth %}
            <h5>Place of Birth</h5>
            <p>{{person.place_of_birth}}</p>
            <hr />
            {% endif %} {% if person.biography %}
            <h5>Biography</h5>
            <p>{{person.biography}}</p>
            <hr />
            {% endif %}
            <!---->
          </div>
          {% if person.image %}
          <div class="col">
            <div class="col text-center">
              <br />
              <img
                src="{{person.image}}"
                style="width: 500px; height: 550px"
                alt="poster"
              />
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col">
            <h5>Movie Credits</h5>
            <table class="table table-striped" style="width: 100%">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Role</th>
                  <th scope="col">Average Score</th>
                  <th scope="col">Release Date</th>
                </tr>
              </thead>
              <tbody>
                {% for row in movie_credits %}
                <tr>
                  <td>
                    <a href="{{row.movie_url}}">{{ row.title }}</a>
                  </td>
                  <td>{{ row.job }}</td>
                  <td>{{ row.vote_average }}</td>
                  <td>{{ row.release_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% block content %}
            <!---->
            {% include "./pagination.html" with page=movie_credits movie=True %}
            <!---->
            {% endblock %}
          </div>
          <div class="col">
            <h5>TV Credits</h5>
            <table class="table table-striped" style="width: 100%">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Role</th>
                  <th scope="col">No. of Episodes</th>
                  <th scope="col">Avg. Score</th>
                  <th scope="col">Original Air Date</th>
                </tr>
              </thead>
              <tbody>
                {% for row in tv_credits %}
                <tr>
                  <td>
                    <a href="{% url 'shows:view' row.show_id %}"
                      >{{ row.name }}</a
                    >
                  </td>
                  <td>{{ row.job }}</td>
                  <td>{{ row.episode_count }}</td>
                  <td>{{ row.vote_average }}</td>
                  <td>{{ row.release_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% block tvcontent %}
            <!---->
            {% include "./pagination.html" with page=tv_credits movie=False %}
            <!---->
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
