{% include 'films/main.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>My Films</h2>
      <br />
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <table class="table table-striped" style="margin: 50px 50px">
      <thead class="thead-info">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Genres</th>
          <th scope="col">Average Score</th>
          <th scope="col">My Score</th>
          <th scope="col">Date Watched</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for row in films %}
        <tr>
          <td>
            <a href="{% url 'films:view' row.movie_db_id %}">{{ row.title }}</a>
          </td>
          <td>{{ row.genres }}</td>
          <td>{{ row.vote_average }}</td>
          <td>{{ row.score }}</td>
          <td>{{ row.date_watched|date:"SHORT_DATE_FORMAT" }}</td>
          <td style="display: inline-block">
            {% if not row.liked and row.liked is not False %}
            <button type="button" class="btn btn-success">
              <a
                href="{% url 'films:like' row.movie_db_id %}"
                style="color: white"
                >Like</a
              >
            </button>
            <button type="button" class="btn btn-danger">
              <a
                href="{% url 'films:dislike' row.movie_db_id %}"
                style="color: white"
                >Dislike</a
              >
            </button>
            {% endif %}
            <!---->
            {% if row.liked %}
            <span style="color: #3eaf7c">Liked</span>
            {% endif %}
            <!--  -->
            {% if row.liked is False %}
            <span style="color: red">Disliked</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-left: 50px">
      {% block content %}
      <!---->
      {% include "./pagination.html" with page=films %}
      <!---->
      {% endblock %}
    </div>
  </div>
  <div class="row"></div>
</div>
