{% include './main.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>Popular Films</h2>
      <br />
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <table class="table table-striped" style="margin: 50px 50px">
      <thead class="thead-info">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Genres</th>
          <th scope="col">Average Score</th>
          <th scope="col">Release Date</th>
          <th scope="col">Watched Status</th>
        </tr>
      </thead>
      <tbody>
        {% for row in films %}
        <tr>
          <td>
            <a href="{% url 'films:view' row.id %}">{{ row.title }}</a>
          </td>
          <td>{{ row.genres }}</td>
          <td>{{ row.vote_average }}</td>
          <td>{{ row.release_date }}</td>
          <td style="display: inline-block">
            <form
              class="form-inline"
              method="GET"
              style="float: left; padding-right: 5px"
              action="{% url 'films:add' row.id %}"
            >
              <button
                type="submit"
                class="btn btn-success"
                method="GET"
                action="{% url 'films:add' row.id %}"
              >
                Add
              </button>
            </form>

            <button type="button" class="btn btn-info">
              <a
                href="{% url 'films:wishlist-film' row.id %}"
                style="color: white"
                >Wishlist</a
              >
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row"></div>
</div>
