{% include 'films/main.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>Statistics</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <br />
    </div>
  </div>

  <div class="card shadow">
    <div id="text">
      <div class="row">
        <div class="col text-center"></div>
        <div class="col text-center">
          <h5>Of {{statistics.num_films}} films</h5>
        </div>
        <div class="col text-center"></div>
      </div>
      <div class="row">
        <div class="col text-center">
          {% load humanize %}
          <p>
            <b>{{ statistics.average_crit|floatformat:2|intcomma }}%</b> are New
            York Times Critic's Picks
          </p>
        </div>
        {% if statistics.liked_percentage %}
        <div class="col text-center">
          {% load humanize %}
          <p>
            I have liked
            <b>{{ statistics.liked_percentage|floatformat:2|intcomma }}%</b>
          </p>
        </div>
        {% endif %}
        <div class="col text-center">
          <p>
            <b>{{ statistics.average_length.runtime__avg|floatformat:2 }}min</b>
            is the average length
          </p>
        </div>
        <div class="col text-center">
          <p>
            <!---->
            <b>
              {{ statistics.average_rating.vote_average__avg|floatformat:2 }}
            </b>
            <!---->
            is the average rating
            <br />
            {% if statistics.average_score.score__avg %}
            <!---->
            <b> {{ statistics.average_score.score__avg|floatformat:2 }} </b>
            <!---->
            is my average score
            <!---->
            {% endif %}
          </p>
        </div>
      </div>

      <div class="row">
        {% autoescape off %}
        <div class="col text-center">{{ statistics.headline }}</div>
        {% endautoescape %}
        <br />
      </div>

      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <h5>
            My Top Genres <br />
            {% if wishlist %}
            <small>with average user rating</small>
            {% else %}
            <small>with my average score</small>
            {% endif %}
          </h5>
          {% for key,value in statistics.genres.items %}
          <span
            >{{ key }} : {% widthratio value.0 1 100 %}%
            <!---->
            {% if wishlist %}
            <!---->
            ({{value.1.vote_average__avg|floatformat:2}})
            <!---->
            {%else %}
            <!---->
            ({{value.2.score__avg|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
        </div>

        <div class="col text-center">
          <h5>My Most Recommended</h5>
          {% for key, value in statistics.most_recommended.items %}
          <span
            ><a href="{% url 'films:view' value.0 %}">{{ key }}</a> <br
          /></span>
          {% endfor %}
        </div>

        <div class="col text-center">
          <h5>My Top Keywords</h5>
          {% for key, value in statistics.keywords.items %}
          <span>{{ key }}<br /></span>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col">
          {% include 'films/year_chart.html' with params=filters %}
        </div>
        <div class="col">
          {% include 'films/decades_chart.html' with params=filters %}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {% include 'films/runtime_chart.html' with params=filters %}
        </div>
        <div class="col">
          {% include 'films/ratings_chart.html' with params=filters %}
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col text-center">
          <h4>My Top People</h4>
          <h6>
            with % of my movies
            <!---->
            {% if not wishlist %} and my average score for their movies
            <!---->
            {% endif%}
          </h6>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Directors</h5>
          {% for key, value in statistics.nb_credits.directors.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br />
          </span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
        <div class="col">
          <h5>Producers</h5>
          {% for key, value in statistics.nb_credits.producers.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
        <div class="col">
          <h5>Editors</h5>
          {% for key, value in statistics.nb_credits.editors.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
        <div class="col">
          <h5>Screenwriters</h5>
          {% for key, value in statistics.nb_credits.screenwriters.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
        <div class="col">
          <h5>Directors of Photography</h5>
          {% for key, value in statistics.nb_credits.photographers.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
        <div class="col">
          {{ wishlist}}
          <h5>Composers</h5>
          {% for key, value in statistics.nb_credits.composers.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}%
            <!---->
            {% if not wishlist %}
            <!---->
            ({{v.1|floatformat:2}})
            <!---->
            {% endif %}
            <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>Actors</h5>
          {% for key, value in statistics.cast.items %}
          <!--  -->
          {% for k, v in value.items %}
          <span>
            <a href="{% url 'people:view' k %}">{{ key }}</a>
            : {% widthratio v.0 1 100 %}% ({{v.1|floatformat:2}}) <br
          /></span>
          {% endfor %}
          <!--  -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
