{% include 'films/main.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <br />
      <h2>My Wishlisted Films</h2>
      <br />
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-success"
        style="margin-bottom: 10px; margin-top: 10px"
      >
        <a href="{% url 'films:statistics' %}" style="color: white"
          >Statistics</a
        >
      </button>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <table class="table table-striped" style="margin: 50px 50px">
      <thead class="thead-info">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Genres</th>
          <th scope="col">Average Score</th>
          <th scope="col">Date Wishlisted</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in films %}
        <tr>
          <td>
            <a href="{% url 'films:view' row.movie_db_id %}">{{ row.title }}</a>
          </td>
          <td>{{ row.genres }}</td>
          <td>{{ row.vote_average }}</td>
          <td>{{ row.date_watched|date:"SHORT_DATE_FORMAT" }}</td>
          <td>
            <form
              class="form-inline"
              method="GET"
              style="float: left; padding-right: 5px"
              action="{% url 'films:add' row.id %}"
            >
              <button
                type="submit"
                class="btn btn-success"
                method="GET"
                action="{% url 'films:add' row.id %}"
              >
                Add
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-left: 50px">
      {% block content %}
      <!---->
      {% include "./pagination.html" with page=films %}
      <!---->
      {% endblock %}
    </div>
  </div>
  <div class="row"></div>
</div>
